<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" class="index">
    {% include nav.html %}
    {% include header.html %}

    {% include about.html %}

    {% include puzzles_grid.html %}
    {% include speaking_grid.html %}
    {% include software_grid.html %}
    
    {% include contact.html %}

    {% include footer.html %}
    {% include puzzles_modals.html %}
    {% include speaking_modals.html %}
    {% include software_modals.html %}
    {% include js.html %}
    </body>
</html>